<h1>detalhesoioi</h1>

<div class="card">
    <h2>{{ detalhes.sabor }}</h2>
    <h2>{{ detalhes.nomecliente }}</h2>
    <h2>{{ detalhes.telefone }}</h2>
    <h2>Endereço</h2>
    <h2>{{ detalhes.rua }}</h2>
    <h2>{{ detalhes.bairro }}</h2>
    <h2>{{ detalhes.numerocasa }}</h2>
    <h2>{{ detalhes.pagamento }}</h2>
    <h2>{{ detalhes.obs }}</h2>

    <a href="/detalhes/editar/{{ detalhes.PedidoId }}">Editar</a>
</div>