 <div class="container">
        <div class="titulo-menu" style="margin-top: 3vw;">
            <img style="margin-right: 1.5vw;" class="starcolor-date" src="/img/icon/redStar.svg" alt="" />

            <h1>Editar Pedidos</h1>

            <img style="margin-left: 1.5vw;" class="starcolor-date" src="/img/icon/redStar.svg" alt="" />
        </div>

        <div class="parag">
            <p>Modifique suas informações e mantenha o pedido correto!</p>
        </div>
        <section class="detalhesPedido">
            <div class="formulario">
                <form action="/detalhes/update" method="post">
                    <input type="hidden" name="PedidoId" value="{{ listaDetalhes.PedidoId }}">

                    <div class="partUm">
                        <div class="escolhaSabor">
                            <label for="sabor"> Escolha o sabor: </label>
                            <input type="text" name="sabor" id="sabor" list="sabores" value="{{ listaDetalhes.sabor }}" readonly>
                            <datalist id="sabores">
                                <option value="Margherita"></option>
                                <option value="Capricciosa"></option>
                                <option value="Diavola"></option>
                                <option value="Quattro Formaggi"></option>
                                <option value="Portuguesa"></option>
                                <option value="Pepperoni"></option>
                                <option value="Palmito"></option>
                                <option value="Frango com catupiry"></option>
                                <option value="Romeu e Julieta"></option>
                                <option value="Sensação"></option>
                                <option value="Banoffe"></option>
                            </datalist>
                        </div>

                        <div class="clientName">
                            <label for="client"> Nome completo:</label>
                            <input type="text" id="client" name="nomecliente" autocomplete="off"
                                value="{{ listaDetalhes.nomecliente }}" />
                        </div>

                        <div class="telephone">
                            <label for="tell"> Telefone/Celular:</label>
                            <input type="text" id="telefone" name="telefone" value="{{ listaDetalhes.telefone }}" oninput="if(this.value.length > 11) this.value = this.value.slice(0, 11);" />
                        </div>
                    </div>

                    <div class="addressDelivery">
                        <p>Endereço:</p>
                        <label for="adress">Nome da rua:</label>
                        <input name="rua" placeholder="{{ listaDetalhes.rua }}" />

                        <div class="localizacao">
                            <div class="label-loc" style="margin-bottom: -1vw;">
                                <label for="bairro">Nome do bairro:</label>
                                <label for="num" id="numCasa">Número da casa/ap:</label>
                            </div>
                        </div>

                        <div class="input-loc" style="margin-bottom: 1vw;">
                            <input name="bairro" placeholder="{{ listaDetalhes.bairro }}"/>
                            <input name="numerocasa" style="margin-left: 7.5vw;" placeholder="{{ listaDetalhes.numerocasa }}"/>
                        </div>
                    </div>

                    <div class="formPayment">
                        <label for="payment"> Forma de pagamento:</label>
                        <input name="pagamento" placeholder="{{ listaDetalhes.pagamento }}" disabled/>
                    </div>

                    <div class="observation">
                        <label for="obs">Observação:</label>
                        <input name="obs" placeholder="{{ listaDetalhes.obs }}" autocomplete="off"/>
                    </div>

                    <div class="botao">
                        <button type="submit">SALVAR ALTERAÇÕES</button>
                    </div>
                </form>
            </div>
        </section>

        <footer>
    <div class="footer">
      <div class="footer-img">
        <img src="/img/title.svg" alt="" />
      </div>

      <div class="navbar" style="margin-top: -3vw;">
        <ul>
          <li><a id="inicio" href="/">INÍCIO</a></li>
          <li><a id="menu" href="/menu">MENU</a></li>
          <li><a id="pedidos" href="/pedidos">PEDIDOS</a></li>
        </ul>
      </div>

      <div class="redes-sociais">
        <img src="/img/whatsapp.svg" alt="" />
        <img src="/img/instagram.svg" alt="" />
        <img src="/img/facebook.svg" alt="" />
        <img src="/img/twitter.svg" alt="" />
      </div>

      <div class="legal">
        <p>© 2024 Fabulous Pizzaria. Todos os direitos reservados.</p>
      </div>

    </div>
  </footer>
    </div>